.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.VerticalCenter {
    display: flex;
    align-items: center;
}

.HorizontalCenter {
    margin: 0 auto;
}

.HomePage-Header {
    height: 70px;
    background-color: #56397B;
}

.HomePage-HeaderTitle {
    width: 800px;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.HomePage-Logo {
    width: 257px;
    height: 50px;
    color: white;
}


.HomePage-Body {
    height: 800px;
    padding: 32px 20px 80px 20px;
}

.HomePage-BodyContent {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage-BodyTitle {
    height: 30px;
    padding-left: 10px;
    font-size: 27px;
}

.HomePage-BodyImage {
    width: 800px;
    margin: 40px 0;
    border-radius: 20px;
}

.HomePage-Body-Download {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HomePage-Body-Download > hr {
    width: 100%;
}

.HomePage-Footer {
    height: 70px;
}

.HomePage-FooterContent {
    width: 1000px;
    height: 70px;
}

.Button-Group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 650px;
}

.Button-Group > a {
    width: 300px;
    height: 52px;
    color: white;
    background-color: #56397B;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button-Group > a:hover {
    background-color: #64468a;
}

.Button-Group > a:active {
    background-color: #77599e;
}
