.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.VerticalCenter {
    display: flex;
    align-items: center;
}

.HorizontalCenter {
    margin: 0 auto;
}

.HomePage-Header {
    height: 70px;
    background-color: #34C759;
}

.HomePage-HeaderTitle {
    width: 1000px;
    height: 70px;
    box-sizing: border-box;
    padding-top: 10px;
}

.HomePage-Logo {
    width: 257px;
    height: 50px;
}


.HomePage-Body {
    height: 800px;
    background-color: #D9BBFF;
}

.HomePage-BodyContent {
    width: 1000px;
    height: 800px;
}

.HomePage-BodyTitle {
    height: 30px;
    padding-left: 10px;
    font-size: 30px;
}

.HomePage-BodyImage {
    width: 800px;
    margin: 40px 0;
}

.HomePage-Footer {
    height: 70px;
}

.HomePage-FooterContent {
    width: 1000px;
    height: 70px;
}